.playground {
  height: 80vh;
}

.preview {
  width: 100%;
  height: 40vh;
  border: 2px solid gray;
}

.codeBlockContainer {
  margin-bottom: var(--ifm-leading);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
}

.codeBlockContent {
  position: relative;
  /*rtl:ignore*/
  direction: ltr;
}

.codeBlock {
  position: relative;
  height: 40vh;
  margin: 0;
  padding: 0;
  border-radius: var(--ifm-global-radius);
  overflow: auto;
}

.copyButton {
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--ifm-global-radius);
  color: var(--ifm-color-white);
  opacity: 0;
  user-select: none;
  padding: 0.4rem 0.5rem;
  position: absolute;
  right: calc(var(--ifm-pre-padding) / 2);
  top: calc(var(--ifm-pre-padding) / 2);
  transition: opacity 200ms ease-in-out;
}

.codeBlockContent:hover > .copyButton,
.copyButton:focus {
  opacity: 1;
}

.codeBlockLines, .codeEditor {
  font: inherit;
  /*rtl:ignore*/
  float: left;
  min-width: 100%;
  padding: var(--ifm-pre-padding);
  background-color: transparent;
  border: none;
  vertical-align: middle;
  line-height: inherit;
}

.codeEditor {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  caret-color: #000;
  color: transparent;
}

.codeEditor::selection {
  background-color: #accef7;
  color: transparent;
  caret-color: #000;
}

@media print {
  .codeBlockLines {
    white-space: pre-wrap;
  }
}
