.playground {
  height: 80vh;
}

.preview {
  width: 100%;
  height: 40vh;
  border: 2px solid gray;
}

.codeEditor {
  margin-bottom: var(--ifm-leading);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  border-radius: var(--ifm-global-radius);
}
